@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --danger: 0 84.2% 60.2%;
    --danger-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --danger: 0 62.8% 30.6%;
    --danger-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    overflow: auto !important;
  }
  i {
    @apply text-primary;
  }
}

@layer components {
  /* Markdown Editor */
  .markdown-editor {
    @apply bg-card text-card-foreground border border-border shadow-none rounded-md  border-none overflow-auto h-auto;

    /* Editor Toolbar */
    .w-md-editor-toolbar {
      @apply p-2 bg-card border border-border shadow-sm rounded-md my-3 flex-nowrap items-center overflow-x-auto overflow-y-hidden;
      ul {
        @apply flex items-center;
      }
    }

    /* Commands buttons */
    li {
      button {
        @apply py-2 px-2 h-auto rounded-md text-sm text-muted-foreground hover:bg-muted hover:text-primary;
        /* svg {
          @apply w-4 h-4;
        } */
      }
    }

    /* Active commands */
    li.active button {
      @apply bg-muted text-primary;
    }

    /* Commands divider */
    .w-md-editor-toolbar-divider {
      @apply bg-muted;
    }

    /* Titles dropdown */
    .w-md-editor-toolbar-child {
      @apply bg-card text-card-foreground shadow-none rounded-md;
      .w-md-editor-toolbar {
        padding: 0.5rem;
        border-bottom: 1px solid hsl(var(--border));
      }
      ul li button {
        @apply py-1.5 px-3 h-auto text-sm text-muted-foreground hover:bg-muted hover:text-primary;
      }
    }
    /* Command to hide */
    li:has(button[data-name="table"]),
    li:has(button[data-name="check-list"]) {
      @apply hidden;
    }

    /* Editor content area */
    .w-md-editor-content {
      display: flex;
    }
    /* Textarea */
    textarea {
      field-sizing: content;
    }
    /* Markdown preview */
    .w-md-editor-preview {
      @apply shadow-none border-s border-border static;
      .wmde-markdown {
        @apply bg-transparent text-primary;
      }
      .code-line {
        @apply text-zinc-100;
      }
    }

    /* disabled commands */
    .w-md-editor-toolbar li > button:disabled,
    .w-md-editor-toolbar li > button:disabled:hover {
      @apply text-primary/20;
    }

    /* Edit font size */
    .w-md-editor-text,
    .w-md-editor-text-pre > code,
    .wmde-markdown {
      font-size: 18px !important;
      line-height: 28px !important;
    }

    /* Edit overflow scrollbar */
    .w-md-editor-area::-webkit-scrollbar,
    .w-md-editor-preview::-webkit-scrollbar {
      width: 0.4rem;
      background: var(--primary);
    }
    .w-md-editor-area::-webkit-scrollbar-track,
    .w-md-editor-preview::-webkit-scrollbar-track {
      background: hsl(var(--background));
    }

    .w-md-editor-area::-webkit-scrollbar-thumb,
    .w-md-editor-preview::-webkit-scrollbar-thumb {
      background: hsl(var(--muted));
      border-radius: 8px;
    }
  }

  /* Hide preview border on preview mode */
  .markdown-editor.w-md-editor-show-preview .w-md-editor-preview {
    border: none;
  }

  .blog-content,
  .w-md-editor-preview {
    ol {
      @apply list-decimal;
    }
    ul {
      @apply list-disc;
    }
    .code-line {
      @apply text-zinc-100;
    }
    code {
      @apply bg-muted text-primary;
    }
  }
}
